nav > a.active {
  background-color: white;
}
.header {
  background-color: rgb(243, 182, 50);
}

.header2 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.header2 > a {
  color: white;
  text-decoration: none;

  display: inline-table;
  font-size: 11px;
}
ul,
ol {
  list-style: none;
}

.nav > li {
  float: left;
}

.nav li a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}
.nav2 li a {
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}
.nav li a:hover {
  background-color: #ee941f;
}

.nav li ul {
  background-color: #fafafa;
  display: none;
  position: absolute;
  min-width: 140px;
  z-index: 9999;
  border-radius: 3px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}
