<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h2>Ventas Mensuales</h2>
          </div>
          <div class="card-body">
            <app-chartmensual></app-chartmensual>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> inline
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <h2>Mensual Vendedor</h2>
          </div>
          <div class="card-body">
            <app-chartmensualusuario></app-chartmensualusuario>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> inline
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <h2>Ventas Dia</h2>
          </div>
          <div class="card-body">
            <app-chartdiaria></app-chartdiaria>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> inline
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-primary">
            <h2>Ventas Dia Vendedor</h2>
          </div>
          <div class="card-body">
            <app-chartdiariausuario></app-chartdiariausuario>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> inline
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
