.products-table {
  width: 100%;
  margin: 0%;
}
.table-containt {
  width: 96%;
  margin: 2%;
}

.table-button {
  display: grid;
  justify-items: flex-end;

  padding-bottom: 5px;
}

.mat-column-actions {
  text-align: end;
}

th {
  background-color: rgb(204, 204, 204);
  color: black;
}
.mat-column-actions button {
  margin-left: 10px;
}
.hijo {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 40%;
  right: 40%;
}
.loader {
  border: 16px solid #ffffff;
  border-top: 16px solid #f52776;
  border-bottom: 16px solid #e61ba9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  position: fixed;
  left: 50%;
  bottom: 0;
  right: 0;
  top: 50%;
}

.loader-background {
  min-width: 100vw;
  min-height: 150vh;
  max-width: 100vw;
  max-height: 1500vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #eaeaea4a;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
