<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h3>Lista de Compras</h3>

            <p class="card-category">Compras a credito</p>
          </div>
          <div class="card-body">
            <div *ngIf="loading" class="loader-background">
              <div class="loader"></div>
            </div>
            <div class="table-containt">
              <table
                mat-table
                [dataSource]="ventas"
                class="mat-elevation-z8 products-table"
              >
                <!-- Position Column -->
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef>FECHA</th>
                  <td mat-cell *matCellDef="let item">
                    <mat-icon *ngIf="item.status !== 0" style="color: blue;"
                      >date_range</mat-icon
                    >{{ item.fecha_comprobante | date }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="comprobante">
                  <th mat-header-cell *matHeaderCellDef>COMPROBANTE</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item.serie_comprobante + "-" + item.numero_comprobante }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                  <th mat-header-cell *matHeaderCellDef>CLIENTE</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item.cliente_nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef>TOTAL</th>
                  <td mat-cell *matCellDef="let item">S/.{{ item.total }}</td>
                </ng-container>
                <ng-container matColumnDef="pagado">
                  <th mat-header-cell *matHeaderCellDef>PAGADO</th>
                  <td mat-cell *matCellDef="let item">S/.{{ item.pagado }}</td>
                </ng-container>
                <ng-container matColumnDef="deuda">
                  <th mat-header-cell *matHeaderCellDef>DEUDA</th>
                  <td mat-cell *matCellDef="let item">
                    S/.{{ item.total - item.pagado }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let item">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <a
                        mat-menu-item
                        (click)="pagarTodo(item.id, item.total - item.pagado)"
                        ><mat-icon>money</mat-icon>Pagar Todo
                      </a>
                      <a mat-menu-item (click)="openDialog(item)"
                        ><mat-icon>money</mat-icon>Pago fraccion
                      </a>
                      <a mat-menu-item (click)="openDialog2(item)"
                        ><mat-icon>list</mat-icon>Lista de pagos
                      </a>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator> </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
